<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="">Home</a>
      <nav>
        <a href="/users/login">Login</a>
        <a href="/users/register">register</a>
      </nav>
    </header>
    <main>
      <section>
        <h1>Register form</h1>
        <% if(exist){ %>
        <p><%= exist %></p>
        <% } %> <% if(min){ %>
        <p><%= min %></p>
        <% } %>
        <form action="/users/register" method="POST">
          <input type="text" name="name" placeholder="Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input type="submit" value="Add User" />
        </form>
      </section>
    </main>
  </body>
</html>
