<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body class="home-index">
    <header>
      <a href="">Blog App</a>
      <nav class="navbar">
        <ul>
          <li>
            <a href="/users/signup"> Signup </a>
          </li>
          <li>
            <a href="/users/login"> Login </a>
          </li>
          <li>
            <a href="/article/new"> Add Article </a>
          </li>
          <li>
            <a href="/article"> List Of Article </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <h1>Welcome to Blog App</h1>
      </div>
    </main>
  </body>
</html>
