<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <span><a href="/">Home</a></span>
        <span
          ><a href="/users/login"> <button class="btn">Login</button> </a>
        </span>
      </nav>
    </header>
    <main>
      <h1>Sign Up</h1>
      <% if(exist){ %>
      <p><%= exist %></p>
      <% } %> <% if(min){ %>
      <p><%= min %></p>
      <% } %>
      <form action="/users/register" method="POST">
        <input type="text" name="name" placeholder="Enter Name" />
        <input type="email" name="email" id="email" placeholder="Enter email" />
        <input type="password" name="password" placeholder="Enter Password" />
        <input type="submit" value="Login" />
      </form>
    </main>
  </body>
</html>
