<%- include('content/header') -%>
<div class="container center content">
  <h1>Welcome to Express Session</h1>
  <a href="/users/register"><button class="btn-index">Register</button></a>
  <a href="/users/login"><button class="btn-index">Login</button></a>
</div>
<%- include('content/footer') -%>
