<!DOCTYPE html>
<html>
  <head>
    <title>Sessions</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
          <ul class="flex">
              <li><a href="/">Home</a></li>
              <li><a href="/users/logout">Logout</a></li>
          </ul>
      </nav>